<%= stylesheet_link_tag "statics.toppage", :media => "all" %>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
  </head>



<div class="first-block">
<div class="a-block">
<h2><span style=color:white>より美しい音色を</span></h2>
</div>

</div>
<div class="second-block">   
    <h5>～エフェクターとエフェクターの組み方について、そしてみんなのエフェクターを共有し,
    美しい音色を～</h5>
</div>
<div class="third-block">

    <h5 class="text-white">
    ギターエフェクターとは、エレキギターとアンプの間にシールドケーブルを使って接続し、<span style=color:red>音色を変化させる機材</span>のこと。 

    スイッチを踏むとエフェクトがかかり、つまみで音色を調整することができます。

    エレキギターを演奏するギタリストにとって、欠かせないアイテムと言っても過言ではありません。</h5>
</div>
<div class="fourth-block">
<h1>effectorのボードの組み方</h1>
<h2>1.エフェクターの構成を考える</h2>

<h5>構成を考えるうえで大切なのは、エフェクターを組む順番と、必要最低限のエフェクターを使うということです。</h5>
<h2>2.必要なものを準備する</h2>

<h5>1で考えた構成において必要なものを準備します。必要なものとしては具体的に1,エフェクター本体　2,電源　3,DC・パッチケーブル　4シールド2本　5エフェクターボードになります</h5>

<h2>3.実際に配置してみる</h2>
<h5>実際に配置してボードを組んでみましょう。ここでは、組む上での注意点を記載しておきます。</h5>
<h5>1. グランドループを絶対に作らない

DCケーブルを含むケーブルで輪っかの形ができてしまうと大きなノイズを拾ってしまいます。ケーブルは出来るだけ束にまとめましょう。※パッチケーブルと電源ケーブルを一緒に束ねるのは厳禁。電源ケーブルのノイズをパッチケーブルが拾ってしまいノイズの原因になってしまいます。</h5>

<h5>2.パッチケーブルのメーカーは統一しよう

いろいろな種類のケーブルを使ってしまうと、ケーブルによって色々な音域が削られていくので「音の劣化」がひどくなってしまう可能性があります。</h5>
</div>
</html>

