.block1{
    background-image: url("mokuzai.jpg");
    background-size: cover;
    width: 100%;
    height: 330px;
}

.block2{

    background-size: cover;
    height: 330px;
    margin-top: 30px;
    width: 100vw;
    margin-left: 10%;
}

.image1,.text1{
    display: inline-block;
    vertical-align:middle;
}

.block3{
    background-size: cover;
    height: 330px;
    margin-top: 30px;
    width: 70vw;
    margin-left: 42%;
}
.image2,.text2{
    display: inline-block;
    vertical-align:middle;
}


.image3,.text3{
    display: inline-block;
    vertical-align:middle;
}

.text4,.image4{
    display: inline-block;
    vertical-align:middle;
}

.text5,.image5{
    display: inline-block;
    vertical-align:middle;
}
